{% extends 'layout.html' %}

{% block content %}
    <section class="main-window">
        <div class="left-side">
            <div class="black-filter"></div>
            <div class="content-left-side">
                <h2>Travel for You</h2>
                <h4>Smal tips for best experience</h4>

            </div>

        </div>
        <div class="right-side">
            <div class="wrap-logo">
                <a href="/" class="logo-link">{{ title }}</a>
            </div>


            <form action="">
                <h2>About Us</h2>

                <p class="content-about">
                    We are a small development team who really love travel.
                    Once we went on a hike, and walked many kilometers.
                    On our way, we met many wonderful animals and amazing plants.
                    Our trip has brought us many new impressions and pleasant memories.
                </p>

                <p class="content-about">
                    This trip inspired us to create this awesome app where you can find all the information
                    you need to have a deeper travel experience and enjoyment with your friends, colleagues or family.
                    Open up new horizons, mark interesting places, share your impressions with your friends. Bicycle,
                    motorcycle, walking or long road trip - all of these are a wonderful addition to our amazing travel app.
                </p>

                <p class="content-about">
                    it doesn't matter what city or country you are from, how old you are, or what your occupation. E
                    veryone will find something
                    of their own during the journey. Let this be the best and most unforgettable experience
                    and delightful adventure for you.
                </p>


                <a class="about-link" href="/">
                    HOME
{#                <button>Sign in</button>#}

                </a>
            </form>
            <div class="wrap-contacts">
                <a href="#">More information</a>
                <a href="#">We in social networks</a>
            </div>

        </div>

    </section>


{% endblock content %}